* {
    /* Primero reseteo todo */
    margin: 0;
    padding: 0;
    /* Hago que el contenido llegue hasta los bordes */
    box-sizing: border-box;
    /* Me gusta el sans-serif */
    font-family: sans-serif;
}

body {
    display: flex;
    /* Para poner en el medio */
    align-items: center;
    /* Lo mismo */
    justify-content: center;
    /* No recuerdo si ya vimos View-height y v-width en clase pero siempre los uso porque me parecen mÃ¡s divertidos */
    min-height: 100vh;
    background: #222;
    /* Esto permite que las card se ordenen si se achica la pantalla */
    flex-wrap: wrap;
    /* background-color: white; */
}
