@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.Barra-Peli-title{
    margin: 2rem 1%;
    font-size: 2rem;
}
.Peli-Cont{
    width: 100%;
    height: auto;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    padding: 1%;
    text-align: start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
    background-position:50% 10%;
    background-size:cover;
    position:relative;
    z-index:1;
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
}
.Peli-Cont::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(14, 14, 14, 0.726);
    z-index:-1;
}
.Peli-Title{
    font-weight: bolder;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-shadow: #474747 3px 5px 2px;
}
.Peli-Title:hover{
    transition: all 0.5;
    text-shadow: -1px 1px 0px #b8b8b8, -2px 2px 0px #b8b8b8;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}
.Peli-Description{
    width: 50%;
    font-weight: bold;
}
.LinkBarraPeli{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:860px) {
    .Peli-Title{font-size: 1.5rem;}
    .Peli-Description{font-size: 0.8rem;}
}
@media screen and (max-width:600px) {
    .Peli-Title{font-size: 1.5rem;}
    .Peli-Description{
        width: 80%;
        font-size: 0.6rem;
    }
}