
.dark{
    --color_Comentario:#D2CECE;
    --color_Comentarios:#FFFFFF;
    --background_Comentarios:rgba(33, 33, 33, 0.4);

}
.light{
    --color_Comentario:#D2CECE;
    --color_Comentarios:#FFFFFF;
    --background_Comentarios:rgba(33, 33, 33, 0.4);

}
.comments {
    /* cambiando el porcentaje acomodamos los comentarios enteros */
    width: 80%;
    padding: 2px;
    /* margin: 0 20px; */
}
.comments_p{
    font-size: 1.3rem;
    color: var(--color_Comentario);
}
.comments_divComments{
    /* display: flex; */
    position: relative;
    color: var(--color_Comentarios);
    background-color: var(--background_Comentarios);
    border-radius: 5px;
}
.comments_divComments_team{
    display: flex;
    padding-top: 15px;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}
.comments_divComments_img{
    width: 6%;
}
.comments_divComments_input{
    color: var(--color_Comentarios);
    background-color: var(--background_Comentarios);
    border: solid 2px;
    font-size: 1.2rem;
    padding: 5px;
    margin: 7px;
    width: 92.5%;
    height: 3rem;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.comments_espacioBlanco{
    /* position: absolute; */
    width: 100%;
    height: 35px;
}
.comments_divComments_button{
    position: absolute;
    right:23px;
    bottom: 0;
    border: none;
    background: rgba(249, 210, 73, 0.8);
    border-radius: 5px;
    padding: 3px 8px;
    margin-bottom: 10px;
    /* width: 10%;
    height: 30%; */
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
}
.comments_divComments_listaComentarios{
    color: var(--color_Comentario);
    /* border: var(--movie-back-color) solid 5px; */
}
.comments_divComments_listaComentarios_unComentario{
    display: flex;
    position: relative;
    background-color: var(--background_Comentarios);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;

}
.comments_divComments_listaComentarios_unComentario_img{
    width: 9%;

}
.comments_divComments_listaComentarios_unComentario_p{
    display: flex;
    margin: 5px;
    padding: 10px;
}
.comments_divComments_listaComentarios_unComentario_Email{
    font-size: .8rem;
    position: absolute;
    right: 10px;
}