
.contenedor {
    margin-left: 5vw;
    margin-top: 10vh;
    display: inline-block;
}

.imagen {
    float: left;
    margin-right: 2vw;
}

.imagen__img {
    height: 45vh;
    width: 200px;
    border-radius: 5%;
}

div span {
    padding-right: 2vw;
}

.titulo {
    margin: 2px;
}

.titulo__nombre {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.ranking {
    margin-bottom: 10px;
}

.descripcion {
    margin-bottom: 20px;
    margin-right: 10vw;
}

.participantes__p {
    margin-bottom: 10px;
}

.espacio {
    margin-top: 5vh;
}

