.dark{
    --background_Header:rgba(33, 33, 33, 0.4);
    --background_input:white;
}
.light{
    --background_Header:rgba(33, 33, 33, 0.4);
    --background_input:white;
}
/*Cont*/
.Header{
    top: 0;
    position: absolute;
    width: 100%;
    background-color: var(--background_Header);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* border: white solid 3px; */
}
/*Logo*/
.Header_Logo{
    width: 20%;
    color: white;
    transition: color ease .4s;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header_Logo:hover{
    color: grey;
    cursor: pointer;
}
.Header_Logo_img{
    width: 100%;
    height: 50%;
}

/*Busqueda*/
.Header_divBotonBusqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.Header_divBotonBusqueda_barraBusqueda{
    font-size: 1.3rem;
    padding-left:30px ;
    width: 60%;
    border: none;
    height: 50px;
    border-top-left-radius: 11px ;
    border-bottom-left-radius: 11px ;
    margin: 0;

}
.Header_divBotonBusqueda_button{
    height: 50px;
    width: 100px;
    border: none;
    background-color:var(--background_input);
    border-top-right-radius: 11px ;
    border-bottom-right-radius: 11px ;
    transition:ease .5s background-color;
    -webkit-transition:ease .5s background-color;
    -moz-transition:ease .5s background-color;
    -ms-transition:ease .5s background-color;
    -o-transition:ease .5s background-color;
    cursor: pointer;
}
.Header_divBotonBusqueda_button:hover{
    background-color: grey;
    cursor: pointer;
    
}
.Header_divBotonBusqueda_button_img{
    height: 50%;
}
/*Botones Login Register*/
.Header_botones_div{
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 1%;
}
.Header_LoginButton{
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: var(--background_Header);
    color: white;
    border-radius: 11px;
    transition: background-color ease .5s;
    cursor: pointer;
    margin-right: 1rem;
}
.Header_RegisterButton{
    background-color: var(--background_Header);
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    border: none;
    transition: background-color ease .3s;
    border-radius: 11px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    -ms-border-radius:11px;
    -o-border-radius:11px;
}
.Header_LoginButton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.Header_RegisterButton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.Header_EspacioBlanco{
    height: 30px;
}
.filtrarLink{
    /* position: absolute;
    top: 0;
    right: 20px; */
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
    font-weight: 600;
}
.filtrarLink:hover{
    color: grey;
    font-weight: bolder;
}