.dark{
    --background_Header:rgba(33, 33, 33, 0.4);
    --background_input:white;
}
.light{
    --background_Header:rgba(33, 33, 33, 0.4);
    --background_input:white;
}
.Header{
    top: 0;
    position: absolute;
    width: 100%;
    background-color: var(--background_Header);
    z-index: 1000;
    /* border: white solid 3px; */
}
.Header_Logo{
    position: absolute;
    width: 10%;
    height: 60%;
    top:10%;
    left: .5%;
    color: white;
}
.Header_divBotonBusqueda{
    padding: 7% 0px 10px 0px;
    display: flex;
    justify-content: center;
}
.Header_divBotonBusqueda_barraBusqueda{
    font-size: 1.3rem;
    padding-left:30px ;
    width: 60%;
    border: none;
    height: 50px;
    border-top-left-radius: 11px ;
    border-bottom-left-radius: 11px ;
    margin: 0;

}
.Header_divBotonBusqueda_button{
    height: 50px;
    width: 100px;
    border: none;
    background-color:var(--background_input);
    border-top-right-radius: 11px ;
    border-bottom-right-radius: 11px ;
    transition:ease .5s background-color;
    -webkit-transition:ease .5s background-color;
    -moz-transition:ease .5s background-color;
    -ms-transition:ease .5s background-color;
    -o-transition:ease .5s background-color;
    cursor: pointer;
}
.Header_divBotonBusqueda_button:hover{
    background-color: grey;
}
.Header_divBotonBusqueda_button_img{
    height: 50%;
}
.Header_botones_div{
    position: absolute;
    right: 10px;
    margin-top: 5px;
}
.Header_LoginButton{
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: var(--background_Header);
    color: white;
    border-radius: 11px;
    transition: background-color ease .5s;
    cursor: pointer;
    margin-right: 1rem;
}
.Header_RegisterButton{
    background-color: var(--background_Header);
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 11px;
    transition: background-color ease .3s;


}
.Header_LoginButton:hover{
    background-color: white;
    color: black;
}
.Header_RegisterButton:hover{
    background-color: white;
    color: black;
}
.Header_EspacioBlanco{
    height: 30px;
}
