.colorFondo {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #1A032C;
}

.Fondo{
    z-index: 2;
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 530px;
    opacity: 0.3;
}

.app_home_movieDetails_section{
    z-index: 3;
    color: #D2CECE;
}
.Espacio_Header{
    height: 100px;
    background-color: rgba(255, 255, 255,.2);
}
.app_home_movieDetails_section{
    width: 90%;
    padding-top: 200px;
    margin: 0 5%;
    margin-bottom: 2rem;
}
.Trailer{
    height: 500px;
}
/* h2{
    font-size: 1.5rem;
    color: #ffff;
    margin: 2rem 0;
} */
/* .Trailer-Title{

} */