.Espacio_Header{
    height: 100px;
    background-color: rgba(255, 255, 255,.2);
}
/*Background*/
.Movie-Details-colorFondo {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1A032C;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    z-index: 1;
}
.Movie-Details-colorFondo::after{
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#1a032c91 80%, #1A032C 100%);
    z-index: -1;
}
/*Sections*/
.Movie-Details-SectionMain{
    width: 90%;
    padding-top: 200px;
    margin: 0 5%;
    padding-bottom: 2rem;
    color: #D2CECE;
    z-index: 2;
}
/**/
.Title-H2{
    font-size: 1.5rem;
    color: #ffff;
    margin: 2rem 0
}
.comments{
    width: 100%;
}



/* .Trailer-Title{
} */